<?xml version="1.0"?>
<launch>

    <arg name="robot_ns" default="robot1"/>
    <!-- <arg name="cam_image_topic" default="robot1/camera/image_raw" /> -->
    <!-- <arg name="cam_info_topic" default="$(arg robot_ns)/camera/camera_info" /> -->


    <group ns="$(arg robot_ns)">

    <arg name="cam_image_topic" default="camera/image_raw" />
    <arg name="cam_info_topic" default="camera/camera_info" />
        

        <node name="ar_track_alvar"
            pkg="ar_track_alvar"
            type="individualMarkersNoKinect"
            output="screen">
            <rosparam command="load" file="$(find leo_example_follow_ar_tag)/config/alvar.yaml" />

            <remap from="camera_image" to="$(arg cam_image_topic)" />
            <remap from="camera_info" to="$(arg cam_info_topic)" />
        </node>

        <node name="ar_logger"
            pkg="arLogger"
            type="print_tags.py"
            output="screen"> 
        </node>
    </group>

</launch>